In [101]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [102]:
# Load .env environment variables
load_dotenv("/Users/FinTech/PycharmProjects/Bootcamp/api_keys.env")

True

In [103]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
type(alpaca_api_key)

str

In [104]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [105]:
# Format current date as ISO format
end_date = pd.Timestamp("2021-04-30", tz="America/New_York").isoformat()
start_date = pd.Timestamp("2018-04-30", tz="America/New_York").isoformat()

In [106]:
# Set the tickers
tickers = ["SPY", "LQD", "UNG", "PFE", "VNQ"]

In [107]:
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"

In [111]:
etfs = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = end_date,
    limit = 1000
).df

# Display sample data
etfs.index = etfs.index.date

               LQD                                        PFE                  \
              open      high     low    close   volume   open    high     low
2018-04-30  115.37  115.4599  115.17  115.215  6184641  37.13  37.180  36.400
2018-05-01  114.83  114.8745  114.49  114.570  5261910  35.58  36.045  34.640
2018-05-02  114.73  114.7500  114.49  114.500  3309180  35.17  35.370  34.745
2018-05-03  114.77  114.8200  114.47  114.530  3817210  34.82  34.880  34.420
2018-05-04  114.86  114.8600  114.47  114.650  3502823  34.56  34.995  34.370

                              ...    UNG                                  VNQ  \
             close    volume  ...   open   high    low  close   volume   open
2018-04-30  36.610  15896840  ...  22.36  22.57  22.25  22.55  1996061  76.42
2018-05-01  35.380  41323798  ...  22.88  22.97  22.64  22.84  2005048  76.08
2018-05-02  34.880  22720924  ...  22.57  22.61  22.40  22.48  2865632  76.61
2018-05-03  34.755  17910911  ...  22.24  22.31  22.03  22.30  4053042  76.26
2018-05-04  34.840  14213955  ...  22.26  22.30  22.04  22.16  1490298  76.41


              high     low  close   volume
2018-04-30  76.710  76.065  76.11  6176246
2018-05-01  76.930  75.940  76.78  4888893
2018-05-02  76.830  75.830  76.49  4983087
2018-05-03  76.770  76.160  76.46  5123678
2018-05-04  77.485  76.410  77.28  3517705

[5 rows x 25 columns]

In [115]:
eft_closing_prices_df = pd.DataFrame()

eft_closing_prices_df["LQD"] = etfs["LQD"]["close"]
eft_closing_prices_df["PFE"] = etfs["PFE"]["close"]
eft_closing_prices_df["SPY"] = etfs["SPY"]["close"]
eft_closing_prices_df["UNG"] = etfs["UNG"]["close"]
eft_closing_prices_df["VNQ"] = etfs["VNQ"]["close"]

                LQD     PFE      SPY    UNG    VNQ
2018-04-30  115.215  36.610  264.450  22.55  76.11
2018-05-01  114.570  35.380  264.990  22.84  76.78
2018-05-02  114.500  34.880  263.200  22.48  76.49
2018-05-03  114.530  34.755  262.575  22.30  76.46
2018-05-04  114.650  34.840  266.000  22.16  77.28